<template>
  <div class="p-2">
    <Desc class="p-2 bg-gray-200 dark:bg-teal-900 max-w-4xl mx-auto" :desc="desc" />
    <div
      class="column-gap mt-4"
      :class="settings.columns !== 'auto' ? `column-count-${settings.columns}` : 'md:column-count-2 xl:column-count-3 4xl:column-count-4 5xl:column-count-5'"
    >
      <div
        v-for="item in origin"
        :id="item.title"
        :key="item.title"
        class="bg-light-blue-300 dark:bg-light-blue-900 p-2 column-block max-w-[600px] min-h-[450px]
          mb-4 cursor-pointer border-2 hover:border-orange-400 border-light-blue-900"
        :class="chosenOrigin.title === item.title ? 'filter brightness-110' : ''"
        @click="chooseOrigin(item)"
      >
        <div class="">
          <div class="flex gap-1 items-center flex-wrap">
            <h4 class="text-xl mb-1 mr-auto px-2">
              {{ item.title }}
              <span text="gray-600 dark:gray-400">
                (Cost: {{ chosenOrigin.title === item.title ? chosenOrigin.cost : item.cost }})
              </span>
            </h4>
            <div v-if="item.variants && chosenOrigin.title === item.title">
              <label for="variants">Variants:</label>
              <select v-model.number="item.cost" name="variants" class="ml-2 text-gray-700">
                <option v-for="variant in item.variants" :key="variant.title" :value="variant.cost">
                  {{ variant.title }}
                </option>
              </select>
            </div>
            <div v-if="item.character && chosenOrigin.title === item.title" class="flex gap-1">
              <CharacterInput
                v-model="chosenOrigin.character"
                :error-message="costError"
                @updateTier="chosenOrigin.tier = $event"
                @updateUID="chosenOrigin.uid = $event"
              />
              <Input
                v-model="chosenOrigin.tier"
                class="w-12"
                placeholder="Tier"
              />
            </div>
            <div v-if="chosenOrigin.title === item.title && ['Possess', 'Substitute'].includes(item.title)">
              <Select v-model="chosenOrigin.hr" :options="heritageOptions" placeholder="Archetype" />
            </div>
            <div v-if="chosenOrigin.title === item.title">
              <button
                v-if="startingOrigin.title !== item.title"
                class="rounded bg-amber-400 hover:bg-amber-500 text-gray-800 px-1"
                @click="flags.chargen ? pickOrigin() : confirmDialog('Origin can\'t be changed after chargen', 'info')"
              >
                Select
              </button>
              <button
                v-else
                class="rounded bg-red-400 hover:bg-red-500 text-gray-800 px-1"
                @click="flags.chargen ? clearOrigin() : confirmDialog('Origin can\'t be changed after chargen', 'info')"
              >
                Deselect
              </button>
            </div>
            <div v-if="startingOrigin.title === item.title">
              <fa-solid:check class="text-green-500" />
            </div>
          </div>
          <img class="max-h-[400px] w-1/2 object-contain self-center inline-block float-right mt-4" :src="item.image" :alt="item.title">
          <Desc class="" :desc="item.desc" />
        </div>
      </div>
    </div>
  </div>
</template>

<script lang='ts' setup>
import { CHAR_COSTS } from '~/data/constants'
import { desc, origin, Origin } from '~/data/origin'
import { confirmDialog } from '~/logic/dialog'
import { useTooltips } from '~/logic/misc'
import { useStore } from '~/store/store'
import Select from '~/components/basic/Select.vue'

const heritageOptions = [
  { label: 'None', value: '' },
  { label: 'Dragon', value: 'dr' },
  { label: 'Transhuman', value: 'th' },
  { label: 'Outsider', value: 'ou' },
]

const chosenOrigin = reactive({
  title: '',
  cost: 0,
  character: '',
  hr: '',
  tier: 1,
  uid: -1,
})
const costError = ref('')

const { allEffects, startingOrigin, fullStartingBudget, flags, settings } = useStore()

onMounted(() => useTooltips())

watch(chosenOrigin, () => {
  if (['Substitute', 'Possess'].includes(chosenOrigin.title))
    chosenOrigin.cost = CHAR_COSTS[chosenOrigin.tier - 1] || 0
})

function chooseOrigin(item: Origin) {
  chosenOrigin.title = item.title
  chosenOrigin.cost = item.cost
  if (!['Substitute', 'Possess', 'Walk-In'].includes(chosenOrigin.title)) {
    chosenOrigin.character = ''
    chosenOrigin.tier = 1
    chosenOrigin.hr = ''
    chosenOrigin.uid = -1
  }

  if (startingOrigin.value.title === chosenOrigin.title)
    Object.assign(chosenOrigin, startingOrigin.value)
}

function pickOrigin() {
  if (chosenOrigin.title === 'Substitute' && chosenOrigin.cost > fullStartingBudget.value * 0.2) {
    costError.value = 'Cost should be less than 20% of your starting budget'
  }
  else {
    costError.value = ''
    allEffects.value.push(chosenOrigin.title)
    Object.assign(startingOrigin.value, chosenOrigin)
  }
}

function clearOrigin() {
  startingOrigin.value = { title: '', cost: 0 }
}

</script>
