<template>
  <div
    ref="taskBar"
    class="flex mx-auto font-semibold overflow-x-auto no-scrollbar"
  >
    <AppButton label="Back" icon="akar-icons:arrow-back-thick" size="Big" fontsize="x-large" @click="toggleAppMode" />
    <div 
      class="whitespace-nowrap text-center items-center justify-center h-full w-full"
      :class="sizes[size]"
    >
      <span>{{ appname }}</span>
    </div>
    <div
      v-for="item in items"
      :key="item.title"
      class="whitespace-nowrap float-right text-center items-center justify-center"
    >
      <div
        class="flex items-center h-full"
        :class="sizes[size]"
        :alt="item.title"
        :title="item.title"
      >
        <span class="iconify" :data-icon="item.icon" :style="[fontsize ? 'font-size:' + fontsize + ';' : none]"></span>
      </div>
    </div>
    <slot />
  </div>
</template>

<script lang="ts" setup>
import { toggleAppMode } from '~/logic'
import type { PropType } from 'vue'

const props = defineProps({
  items: {
    type: Array,
    default: () => [],
  },
  appname: {
    type: String,
    default: '',
  },
  size: {
    type: String as PropType<'Normal' | 'Small' | 'Big'>,
    default: 'Normal',
  },
  fontsize: {
    type: String,
    default: 'inherit',
  },
})

const sizes = {
  Normal: 'px-2 py-1',
  Small: 'px-1',
  Big: 'p-2',
}

</script>

<style type="text/css">

</style>
