<template>
  <nav
    ref="navBar"
    class="flex mx-auto font-semibold overflow-x-auto no-scrollbar nav-list"
  >
    <div 
      v-for="navItem, i in titles"
      :key="navItem"
      class="whitespace-nowrap nav-item"
      :class="i == activeIndex ? 'is-located': ''"
    >
      <router-link
        class="cursor-pointer hover:text-green-500 flex items-center"
        :to="links[i]"
        @click="scrollInto(i)"
      >
        <span>{{ navItem }}</span>
      </router-link>
    </div>
    <slot />
  </nav>
</template>

<script lang="ts" setup>
import type { PropType } from 'vue'

const props = defineProps({
  items: {
    type: Array as PropType<string[]>,
    default: () => [],
  },
  titles: {
    type: Array as PropType<string[]>,
    default: () => [],
  },
  prefix: {
    type: String,
    default: '',
  },
  level: {
    type: Number,
    default: 0,
  },
})

const navBar = ref(null as any)
const activeIndex = ref(0)

// const loc = useBrowserLocation()

onMounted(() => {
  const arr = document.location.pathname?.split('/') || []
  let name = ''
  if (arr.length > 2)
    name = arr[arr.length - 1 - props.level]
  else
    name = arr[arr.length - 1]
  const ind = props.items.indexOf(name)
  if (ind !== -1) {
    if (navBar.value) scrollInto(ind)
    activeIndex.value = ind
  }
})

const links = computed(() => {
  return props.items.map(x => props.prefix.length > 0 ? `/${props.prefix}/${x}` : `/${x}`)
})

function scrollInto(index: number) {
  (navBar.value as HTMLElement).children[index].scrollIntoView({ block: 'center', inline: 'center' })
  activeIndex.value = index
}
</script>

<style type="text/css">
.nav-list {
  margin: 0 -10px;
}
.nav-item {
  margin: 0 10px;
}
.nav-item a {
  color: #d8d8d8;
  position: relative;
}
.nav-item a::after {
  background-color: #ab987a;
  bottom: 0;
  content: '';
  height: 1px;
  left: 0;
  position: absolute;
  right: 0;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  width: 100%;
}
.nav-item.is-located a::after,
.nav-item a:hover::after {
  transform: scaleX(1);
}

</style>
