<template>
  <button
    class="text-gray-100 font-medium  hover:scale-105 transform flex items-center
    justify-center gap-1 shadow shadow-dark-50"
    :class="[bgColor, sizes[size], disabled ? '!bg-gray-500' : '']"
    :style="[fontsize ? 'font-size:' + fontsize + ';' : none]"
    :title="label"
    :alt="label"
  >
    <span v-if="icon" class="iconify" :data-icon="icon"></span>
  </button>
</template>

<script lang='ts' setup>
import type { PropType } from '@vue/runtime-core'

defineProps({
  label: {
    type: String,
    default: 'Default',
  },
  bgColor: {
    type: String,
    default: 'bg-gray-600',
  },
  size: {
    type: String as PropType<'Normal' | 'Small' | 'Big'>,
    default: 'Normal',
  },
  fontsize: {
    type: String,
    default: 'inherit',
  },
  icon: {
    type: String,
    default: '',
  },
  disabled: {
    type: Boolean,
    default: false,
  },
})

const sizes = {
  Normal: 'px-2 py-1',
  Small: 'px-1',
  Big: 'p-2',
}

</script>
