<template>
  <button
    class="text-gray-100 font-medium rounded hover:scale-105 transform flex items-center
    justify-center gap-1 shadow shadow-dark-50"
    :class="[bgColor, sizes[size], disabled ? '!bg-gray-500' : '']"
  >
    <span v-if="icon" class="iconify" :data-icon="icon"></span>
    <span v-if="label">{{ label }}</span>
  </button>
</template>

<script lang='ts' setup>
import type { PropType } from '@vue/runtime-core'

defineProps({
  label: {
    type: String,
    default: 'Default',
  },
  bgColor: {
    type: String,
    default: 'bg-green-700',
  },
  size: {
    type: String as PropType<'Normal' | 'Small' | 'Big'>,
    default: 'Normal',
  },
  icon: {
    type: String,
    default: '',
  },
  disabled: {
    type: Boolean,
    default: false,
  },
})

const sizes = {
  Normal: 'px-2 py-1',
  Small: 'px-1',
  Big: 'p-2',
}

</script>
