<template>
  <div @click.stop>
    <div v-if="list.length" class="">
      [
      <template v-for="el, i in list" :key="el.title || el">
        <router-link
          :to="{path: path || '/'+LINKS[el.title || el], hash:'#'+(el.title || el), query: {q: (QUERIES[el.title || el])}}"
          :class="color"
        >
          <span v-if="i != 0" class="text-orange-500">, </span>
          <span class="hover:underline">{{ el.title2 || el.title || el }}</span>
          <span v-if="el?.anything?.length" class="text-yellow-500">({{ el.anything }})</span>
          <span v-if="el.count && el.count > 1" class="">(x{{ el.count }})</span>
          <span v-if="el?.target?.length || el.waifu" class="text-teal-500">({{ el.target || el.waifu }})</span>
          <span v-if="el.complex && isArray(el.complex) && el.complex.length">
            <template v-if="el.complex[0].flavor && el.complex[0].target">
                <span
                  v-for="tf in Object.entries(groupBy(el.complex, c => c.target))"

                  :key="tf[0]"
                  class="text-violet-400"
                >
                    ({{ tf[0] }} <span class="text-gray-400">has</span>
                    <List :list-key="'flavor'" :list="tf[1]" color="text-green-500" start="" end="" />)
                </span>
            </template>
            <template v-else>
              <List :list-key="'target'" :list="el.complex" color="text-green-500" start="(" end=")" />
              <List :list-key="'flavor'" :list="el.complex" color="text-violet-400" start="{" end="}" />
            </template>
          </span>
        </router-link>
        <span v-if="priceMode" class="text-gray-300">[{{ el.cost }}]</span>
        <span v-if="editMode" class="text-red-400 hover:text-red-500 cursor-pointer" @click.stop="deletePerk(el)"><fluent:delete-20-filled /></span>
      </template>
      ]
    </div>
    <div v-if="emptyMessage.length && !list.length">
      {{ emptyMessage }}
    </div>
  </div>
</template>

<script lang='ts' setup>
import { isArray, groupBy } from 'lodash-es'
import type { PropType } from 'vue'
import { LINKS, QUERIES } from '~/data/constants'

defineProps({
  list: {
    type: Array as PropType<any[]>,
    default: () => [],
  },
  emptyMessage: {
    type: String,
    default: 'Empty',
  },
  color: {
    type: String,
    default: 'text-blue-600 dark:text-blue-300',
  },
  path: {
    type: String,
    default: '',
  },
  editMode: {
    type: Boolean,
    default: false,
  },
  priceMode: {
    type: Boolean,
    default: false,
  },
})

const emit = defineEmits(['deletePerk'])

function deletePerk(el: any) {
  emit('deletePerk', el)
}
</script>
