<template>
  <Modal label="Powers List">
    <div class="h-[85vh] md:h-3/4 bg-gray-300 dark:bg-gray-600 overflow-y-auto min-h-0 flex flex-col gap-2" style="min-width: 500px;">
        <div class="p-2 flex flex-col gap-1 min-h-0">
            <div
            class="overflow-y-auto min-h-0 scrollbar"
            >              
            </div>
        </div>
    </div>
  </Modal>
</template>

<script lang="ts" setup>
import { findIndex } from 'lodash-es'
import { useStore } from '~/store/store'

</script>
