<template>
  <Modal label="Retinue Template Stacking">
    <div class="h-[85vh] md:h-3/4 bg-gray-300 dark:bg-gray-600 overflow-y-auto min-h-0 flex flex-col gap-2" style="min-width: 500px;">
        <div class="p-2 flex flex-col gap-1 min-h-0">
            <div
            class="overflow-y-auto min-h-0 scrollbar"
            >
                <div                    
                    class="grid gap-2 min-h-0"
                    :class="orientation ? 'grid-cols-2': 'grid-cols-1'"
                >
                    <CharacterCardMini                        
                        v-for="char in companionsData"
                        :key="char.uid"
                        :char="char"
                        :image="companionImages[char.uid] ? companionImages[char.uid] : '/img/Contractor.jpg'"
                    />
                </div>
            </div>
        </div>
    </div>
  </Modal>
</template>

<script lang="ts" setup>
import { findIndex } from 'lodash-es'
import { DBCharacter } from 'global'
import { getAllChars } from '~/data/constants'
import { imageLink } from '~/logic'
import CharacterCardMini from '~/components/CharacterCardMini.vue'
import { useStore } from '~/store/store'

const custom = ref('')

const { companions, yourTier, startingWorld } = useStore()

const yourData = [{name: 'You', sex: 'M', world: startingWorld.value.worldName, tier: yourTier, priceTier: yourTier, sold: false, method: 'unbound', price: 0, soldPrice: 0, role: 'Member'}]

const companionsData = computed(() => yourData.concat(companions.value))

const companionsObject = companions.value.reduce((a, x, i) => { a[x.uid] = i; return a }, {} as Record<number, number>)
const allChars = ref<DBCharacter[]>([])

getAllChars().then(chars => allChars.value = chars)

const companionImages = computed(() => {
  const res = {} as Record<number, string>
  allChars.value.forEach((char) => {
    if (companionsObject[char.u] !== undefined)
      res[char.u] = imageLink(char.i, char.u)
  })
  return res
})


</script>
