<template>
  <div class="w-screen-md lg:pl-2 bg-gray-200 dark:bg-gray-800 p-2 mt-4 !items-stretch gap-4 overflow-y-auto">
    <h2 class="text-xl font-bold text-center">
      Changelog
    </h2>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        24 January 2022
      </h3>
      <ul class="list-decimal list-inside">
        <li>78 new user submitted Characters.</li>
        <li>Bugfixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        22 January 2022
      </h3>
      <ul class="list-decimal list-inside">
        <li>New UC, Meta Shift, Meta Shift II, Blank Slate perks.</li>
        <li>Added Size and Capacity for rides provided by <b>OmegaSpark</b></li>
        <li>250 new user submitted Characters.</li>
        <li>A-Z 1-9 sorting for companions</li>
        <li>8 new user submitted Worlds.</li>
        <li>Bugfixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        20 January 2022
      </h3>
      <ul class="list-decimal list-inside">
        <li class="text-red-500 font-semibold">
          Some of the submitted characters ~200 for 14-16 jan. got lost due to my mistake.
        </li>
        <li>180 new user submitted Characters.</li>
        <li>Settings, you can now turn off DLC perks by Author</li>
        <li>Images for all Perks provided by <b>KatzSmile</b>, you can turn them off in settings</li>
        <li>Better layout for big screens</li>
        <li>You can now assign yourself an image in Retinue tab</li>
        <li>Despin’s Tier Chart in rules</li>
        <li>15 new user submitted Worlds.</li>
        <li>Bugfixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        15 January 2022
      </h3>
      <ul class="list-decimal list-inside">
        <li>62 new user submitted Characters.</li>
        <li>5 new user submitted Rides.</li>
        <li>2 new user submitted Waifu Perks.</li>
        <li>Discounts, Discounts App - some of the old saves may have become incorrect, expect bugs</li>
        <li>Top 20 users by submitted characters on About page</li>
        <li>Bugfixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        11 January 2022
      </h3>
      <ul class="list-decimal list-inside">
        <li>250 new user submitted Characters.</li>
        <li>16 new user submitted Worlds.</li>
        <li>Bugfixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        10 January 2022
      </h3>
      <ul class="list-decimal list-inside">
        <li>105 new user submitted Characters.</li>
        <li>Pocket Space(RP)(By KatzSmile) app.</li>
        <li>Ritual Circle app.</li>
        <li>Bulk Capture Calculator app.</li>
        <li>Your card in Retinue tab</li>
        <li>Character choose for Walk-In origin</li>
        <li>You can now change name in Retinue tab on 'smartphone'</li>
        <li>Bugfixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        02 January 2022
      </h3>
      <ul class="list-decimal list-inside">
        <li>60 new user submitted Characters.</li>
        <li>Changed Add Mission form a bit.</li>
        <li>You can now change genders in Companions tab on 'smartphone'</li>
        <li>Bugfixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        01 January 2022
      </h3>
      <ul class="list-decimal list-inside">
        <li>128 new user submitted Characters.</li>
        <li>5 DLC perks</li>
        <li>Proper tag filter system with include/exclude</li>
        <li>When you click on 'Perk' tag it will take you to waifu perks</li>
        <li>10 new user submitted Worlds.</li>
        <li>Bugfixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        28 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>86 new user submitted Characters.</li>
        <li>Empty Hand and 2 DLC perks</li>
        <li>3 new user submitted Worlds.</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        27 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>125 new user submitted Characters.</li>
        <li>7 new user submitted Worlds.</li>
        <li>Extended companion search help (on the Help page)</li>
        <li>Bugfixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        25 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>Removed 370+ doubles from  database</li>
        <li>Added 200+ NSFW images provided by <b>Jimmothy</b>(he provided a lot more, but they did not pass my review)</li>
        <li>119 new user submitted Characters.</li>
        <li>Simple Notes App</li>
        <li>Missions page(just to check what missions currently submitted)</li>
        <li>6 new user submitted Worlds.</li>
        <li>2 new DLC perks.</li>
        <li>Bugfixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        21 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>10 new perks from Merior DLC</li>
        <li>36 new user submitted Characters.</li>
        <li>5 new user submitted Worlds.</li>
        <li>Bugfixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        20 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>8 new DLC perks, 1 new DLC challenge.</li>
        <li>36 new user submitted Characters.</li>
        <li>NSFW images filter and Global NSFW/SFW option</li>
        <li>You now can add characters to Favorite list, and filter by favorites</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        19 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>70 new user submitted Characters.</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        18 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>199 new user submitted Characters.</li>
        <li>10 new DLC perks.</li>
        <li>Cash Still Rules/loans app</li>
        <li>Dragon Aura app</li>
        <li>Reworked what perks will be automatically deleted when you unselect perks that they required</li>
        <li>Bugfixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        15 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>37 new user submitted Characters.</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        14 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>17 new user submitted Characters.</li>
        <li>8 new DLC perks.</li>
        <li>Basic Chargen/In World mode</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        13 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>70 new user submitted Characters.</li>
        <li>3 new DLC perks.</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        12 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>86 new user submitted Characters.</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        11 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li><b>Rem Knight</b> provided 44 images for Girls Frontline characters.</li>
        <li>Ability to turn off DLCs</li>
        <li>Propose Mission form</li>
        <li>Challenges</li>
        <li>107 new user submitted Characters.</li>
        <li>Added 11 user submitted worlds.</li>
        <li>Rework of side menu</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        05 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>Filter by tags</li>
        <li>Added some tags to characters</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        04 December 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>64 new user submitted Characters.</li>
        <li>Added 15 user submitted worlds.</li>
        <li>Add Character dialog now have <b>Tags</b> input</li>
        <li>Renamed some Worlds that 'Limit to a World' would work better</li>
        <li>Save/Load now have Save to File option</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        27 November 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li><b>Rem Knight</b> provided 44 images for Girls Frontline characters.</li>
        <li><b>PokeAdmirer</b> provided 23 images for Pokemon Expansion characters.</li>
        <li>181 new user submitted Characters.</li>
        <li>Added 16 user submitted worlds.</li>
        <li>Added ratings for All Unknown Rating Worlds</li>
        <li>Random Build App</li>
        <li>Made separate tab for Companions and added more functions to companion management</li>
        <li>Added subcategory for Companions World</li>
        <li>World and World subcategory in Add Character now have hints</li>
        <li>Ancestral Diversity perk should work properly</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        19 November 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>69(nice!) new user submitted Characters.</li>
        <li>Added 9 user submitted worlds.</li>
        <li>Missions app(WIP)</li>
        <li>Exit stage Left app(WIP)</li>
        <li>Yo now can add your own Ride</li>
        <li>Dice Machine app</li>
        <li>Random World, Random Character app</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        13 November 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>Added 11 user submitted worlds.</li>
        <li>Danger 11 rules helper.</li>
        <li>Waifu perks now purchasable only if you have the right waifu.</li>
        <li>164 new user submitted Characters.</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        08 November 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>Added 32 user submitted worlds.</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        07 November 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>You now can buy multiple instances of perks like Template Stacking, Paper Trail etc.</li>
        <li>Gender and Submitted by User tags for characters</li>
        <li>Filter characters by gender and image</li>
        <li>37 new new user submitted characters</li>
        <li>Added Companions tier descriptions in rules</li>
        <li>Grouping of Heritages and Bindings</li>
        <li>Bug fixes</li>
        <li>Added Even More bugs</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        2 November 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li class="font-semibold">
          Beta v0.1 Release
        </li>
        <li>37 new user submitted characters</li>
        <li>Save & Load feature</li>
        <li>Share your build by link feature</li>
        <li>You can choose Transhuman type and get associated with it freebies</li>
        <li>About Page</li>
        <li>Help Page</li>
        <li>Bug fixes</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        29 October 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>Better formating, author notes, Info tables.</li>
        <li>You can Yoink and buy Slightly used waifus</li>
        <li>You can sell companions for 20% of their cost</li>
        <li>All perks should be purchaseable, some mechanics still don't work</li>
        <li>Copy Text of A build button</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        25 October 2021
      </h3>
      <ul class="list-decimal list-inside">
        <li>Persistent state, now your current build will be saved even when you press F5 or close the tab. You can clear current build in 'smartphone'</li>
        <li>Lazy loading for images</li>
        <li>Free stuff gets properly deleted if you unselect perk that gave them.</li>
        <li>Sorting for Worlds by name and rating</li>
        <li>Added most of Heritage freebies except Transhuman types, formatting of heritage text</li>
        <li>Index of Everything</li>
        <li>Infinite scrolling of Companions</li>
        <li>Better formatting for some perks</li>
        <li>Bug fixes, adding more new bugs.</li>
      </ul>
    </div>
    <div>
      <h3 class="text-lg font-semibold text-center py-2">
        22 October 2021
      </h3>
      <ul class="list-decimal list-inside pb-8">
        <li>Propose to global in Add world and Add Character dialogs should work, I will review and add submitted stuff occasionally.</li>
        <li>You can capture companions now, no selling captures yet</li>
        <li>Waifu Perks now have all images and you can pick them, although it does't check if you have waifu or add any effect.</li>
        <li>In 'Smartphone' you can choose between tabs [Build, Spending's, Manual]</li>
        <ul class="ml-2 list-disc list-inside">
          <li>Build: you can now scroll if it has to much stuff</li>
          <li>Spending's: your total spending's useful if you try Build by DR11 rules</li>
          <li>Manual: manually add or subtract credits and tickets</li>
        </ul>
        <li>You will receive free talents and defenses in Bindings, but they will not be deleted if you unselect Binding keep that in mind. </li>
        <li>You can view Ritual circle parameters in Bindings</li>
        <li>Some small stuff's that I don't remember</li>
        <li>Changelog</li>
        <li>Added new bugs</li>
      </ul>
    </div>
  </div>
</template>

<script lang='ts' setup>

</script>
