<template>
  <div class="rounded dark:bg-gray-700 max-w-screen-md !items-stretch lg:pl-2 p-2">
    <div class="shadow-lg bg-gray-100 dark:bg-gray-800 p-2">
      <h3 class="text-xl py-2">
        Waifu Catalog by SwiftRosenthal - Credits
      </h3>
      <div class="border-l-8 pl-4 border-gray-300 dark:border-gray-600">
        <p>Thanks to everyone at QQ who helped build this CYOA, whether intentionally or not: CelestialDragon, silverm21, Daytripper, sunspark, azoicennead, Persona4Dan, SotF, Merior, Subrosian_Smithy, Andoriol, Robotninja, Enjou, Berserk869, and others;</p>
        <p>...all the authors whose works served as inspiration or beta-testing: Ina_Meishou, JeckJack, Chastity, Vergil1989 Crossover King, Daemonflayer, Katanasoul_91, Rathmun, x50413, spktr alpha, Digital_Devil, Wheeness, Rani, Cambrian, shadowdice, Leecifer, Coltsguy, StreamingViking, alex357, Wotchr, ENIYA, Zaralann, Xahn, HistoricalHijinks, Saligia, Supernatural, Brian Boru, Slayer Anderson, Aoinfinity, Deus_Ex_Transhuman, Ideas-Guy, Dantegrey, Nomad-117, MerelysSoul, Imperator Pax, Konami-kun, FourthPear, RedOrion, rooster, frostgiant, helios, Silver Swallow, lunar8108, Guardonion, taovkool, inphernalmenace, Vagabond, Flux Casey, Lazurman, TravelerofTime, Krule, Much Too Desensitized, eveakane, klassekatze, and others;</p>
        <p>...and all the artists and original creators whose published tales, settings, and pieces are the backbone that everything else is built around. This project would’ve been literally impossible without the original sources. If I left you out, it’s an honest mistake from not starting this list until ten months in.</p>
      </div>
    </div>
    <div class="shadow-lg bg-gray-100 dark:bg-gray-800 p-2 mt-4">
      <h3 class="text-xl py-2">
        Waifu Catalog Interactive(this site) - Credits
      </h3>
      Thanks to
      <a class="text-blue-400" href="https://klassekatze.github.io/waifucatimg/" target="_blank" rel="noopener noreferrer">klassekatze</a> for compilation of characters used in this catalog.
      <h4 class="text-lg">
        Links to original:
      </h4>
      <ol>
        <li class="pl-4">
          <a class="text-blue-400" href="https://docs.google.com/document/d/1ILzH_MYYTsS40Dx4YnnqbGiFaHiqVRZD-yJBEz4CnEg/edit#" target="_blank" rel="noopener noreferrer">Waifu Catalog</a>
        </li>
        <li class="pl-4">
          <a class="text-blue-400" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRY8R1QpF5c_R3UESoYXYscEVJ2AayfCLJ7QVxU3xjfwqKfZU8HnNVsTKwFOX9J7DX8MPM1tp06el9G/pubhtml#" target="_blank" rel="noopener noreferrer">Spreadsheet</a>
        </li>
      </ol>
    </div>
    <div class="shadow-lg bg-gray-100 dark:bg-gray-800 p-2 mt-4">
      <p>All images and artwork used in the Catalog belong to their respective authors.</p>
    </div>
  </div>
</template>

<script lang='ts'>
</script>
