<template>
  <div ref="waifuItem" 
    class="flex justify-between border border-gray-400 rounded p-1 mb-1"
  >
    <div class="flex gap-2 w-full">
      <img
        v-if="image"
        :src="image"
        :alt="char.name"
        class="rounded object-cover max-h-[140px] max-w-[90px] object-top"
      >
      <div class="flex flex-col w-full">
        <div class="flex">
          <router-link :to="`/companions/?name=${char.name}`" class="hover:underline">
            {{ char.name }}
          </router-link>
          <span class="text-gray-500 ml-auto whitespace-nowrap"> Tier: <span class="text-green-500">{{ char.tier }}</span></span>
        </div>
        <span class="text-gray-500">From: <span class="text-gray-400">{{ char.world }}</span></span>

        <Button size="Small" label="Powers" class="mx-1" @click.stop="choosePower(char)" />
      </div>
    </div>
    <PowersList v-if="showPowers" @click="togglePowers" />
  </div>
</template>

<script lang="ts" setup>
import type { PropType } from '@vue/runtime-core'
import { SavedChar } from '~/store/chargen'

const [showPowers, togglePowers] = useToggle()
const currentChar = ref<SavedChar|null>(null)

defineProps({
  char: {
    type: Object as PropType<SavedChar>,
    default: () => {},
  },
  image: {
    type: String,
    default: '',
  },
})

function choosePower(curChar: SavedChar) {
  showPowers.value = true
  currentChar.value = curChar
}

</script>